# Treat all Dart files as Dart
*.dart linguist-language=Dart

# Ignore native Android/iOS/C++ files from GitHub language stats
*.gradle linguist-language=ignore
*.kt linguist-language=ignore
*.java linguist-language=ignore
*.c linguist-language=ignore
*.cpp linguist-language=ignore
*.h linguist-language=ignore

# Mark whole Android and iOS folders as vendored
android/** linguist-vendored
ios/** linguist-vendored
