# Force GitHub to detect Dart as the primary language
*.dart linguist-language=Dart

# Ignore native and build languages
*.cpp linguist-language=ignore
*.h linguist-language=ignore
*.c linguist-language=ignore
*.cmake linguist-language=ignore
CMakeLists.txt linguist-language=ignore

# Mark native folders as vendored (ignored from language stats)
android/** linguist-vendored
ios/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
linux/** linguist-vendored
